<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">StockWatch</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			</ul>
			<div class="navbar-form navbar-left" role="search">
			</div>
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Controles</h3>
					</div>
					<div class="panel-body">
						<a href="#new/" class="btn btn-info btn-lg btn-block">Adicionar Ação</a>
						<a href="#portifolio/" class="btn btn-primary btn-lg btn-block">Ver Portifólio</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Tempo para Próxima Atualização</h3>
					</div>
					<div class="panel-body">
						<div class="progress">
  						<div id="progress_update" class="progress-bar progress-bar-info" style="width: 0%"></div>
						</div>
						<span>Tempo restante: {{CStock.timeToUpdate}}h</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-heading">Painel de Ações - Visão Geral</div>
			  <div class="panel-body" ng-view>
			  </div>
			</div>

		</div>

	</div>
</div>
