<!DOCTYPE html>
<html>
<head>
	<title>StockWatcher</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootswatch.css"> </link>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="StockWatcherApp" ng-controller="WatchController as CStock">

<%= yield %>

</body>
</html>
